@using StudyBuddy.Core

@{
    var alert = TempData.ContainsKey(Alert.TempDataKey)
                ? (Alert)TempData[Alert.TempDataKey]
                : null;

    if (alert != null)
    {
        <!-- BASIC MODAL -->
        <div id="modaldemo1" class="modal fade">
            <div class="modal-dialog modal-dialog-vertical-center" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25" style="background-color: @alert.Type">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">@alert.Title</h6>
                    </div>
                    <div class="modal-body pd-25">
                        <p class="mg-b-5">@alert.Message</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->

        <script>
            $(document).ready(function () {
                $('#modaldemo1').modal('show');
            });
        </script>
    }
}