<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderPartial("_Meta"); }

    <link href="~/Content/Shamcey/css/shamcey.css" rel="stylesheet" />
</head>

<body class="bg-gray-900">
    <div class="ht-100v d-flex align-items-center justify-content-center">
        <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
            <h1 class="tx-100 tx-xs-140 tx-normal tx-gray-300 mg-b-0">Ops!</h1>
            <h5 class="tx-xs-24 tx-normal tx-primary mg-b-30 lh-5">Sorry, but you cannot access this page with your current permission.</h5>
            <p class="tx-16 mg-b-30">
                Have you verified your email?
                <p>If you're not sure, please click here to verify.</p>
        </div>
    </div><!-- ht-100v -->
</body>
</html>
